<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/AboutUs.css" type="text/css" />

</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">Crime statistics in U.S.</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Explore">Explore Data</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Report">Report an Incident</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 style="text-align:center">About Us</h1>

    <div class="row">
        <div class="column">
            <div class="card">

                <img src="/images/Vanshika.jpeg" alt="Vanshika" style="width:100%">


                <h2>Vanshika Kanwar</h2>
                <p>
                    Vanshika Parihar worked as a iOS developer at Cognizant Technology Solutions for a year.
                    She is a focused and diligent student, whos's currently pursuing Masters in Business Analytics and
                    Information Systems at University of South Florida. She is responsible for contributing towards "Home" page
                    in the 'Look and Feel' assignment for Distributed Information Systems class.
                </p>
                <p><a href="https://github.com/vanshika-parihar">GitHub - vanshika-parihar</a></p>
                <p><a href="vparihar@usf.edu" class="button">Contact</a></p>

            </div>
        </div>

        <div class="column">
            <div class="card">

                <img src="/images/Siddhi.jpeg" alt="Siddhi Kulkarni" style="width:100%">


                <h2>Siddhi Kulkarni</h2>
                <p>
                    Siddhi Kulkarni, Currently pursuing M.S. in Business Analytics and Information Systems
                    at the University of South Florida. Previously worked as Market Research Analyst at
                    Straits Business Group for close to 1.5 years. Dedicated, focused, and diligent towards
                    studies and work. Presently responsible for creating Data Model on "Look and Feel"
                    assignment under  Distributed Information Systems class.
                </p>
                <p><a href="https://github.com/U68116820">GitHub - SiddhiKulkarni</a></p>
                <p><a href="kulkarni33@usf.edu" class="button">Contact</a></p>

            </div>
        </div>

        <div class="column">
            <div class="card">

                <img src="/images/Shradha.jpeg" alt="Shradha" style="width:100%">


                <h2>Shradha Pewekar</h2>
                <p>
                    Business Analytics and Information System M.S. student at the University of South Florida.
                    She has 3.5 years of experience as a SQL developer.
                    She is responsible for contributing towards HTML pages and formatting page using css.
                </p>
                <p><a href="https://github.com/shradhapewekar">GitHub - shradhapewekar</a></p>
                <p><a href="spewekar@usf.edu" class="button">Contact</a></p>

            </div>
        </div>
    </div>

    <div>
        <div class="card">
            <h2 style="text-align: center;">Data Model</h2>
            <img src="/images/DIS Project ERD (1).png" alt="ERD" style="width:100%">
            <div class="container">

            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
