@model Assignment_4_WebApplication.Models.Results
@{
    ViewData["Title"] = "Explore";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Data</title>
    <link rel="stylesheet" href="~/css/Explore.css" type="text/css" />
    <style>
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: red;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: red;
        }
    </style>

</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">Crime statistics in U.S.</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Explore">Explore Data</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Report">Report an Incident</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

         <div class="dropdown">
             <button class="dropbtn">Select data to explore</button>
             <div class="dropdown-content">
                 <a asp-controller="Home" asp-action="HomicideData">Homicide data</a>
                 <a asp-controller="Home" asp-action="ArrestData">Arrest data</a>
                 <a asp-controller="Home" asp-action="PropertyData">Property data</a>
             </div>
         </div>
    <b> Expanded Homicide Offense Counts in the United States, 2009 - 2019  </b>

    <div style="width:50%; height:700px; overflow:auto;">
        <table class="table">
            <tr>
                <th>Year </th>
                <th>Agency Count </th>
                <th>Total Population </th>
            </tr>

            @foreach (Assignment_4_WebApplication.Models.Result result in Model.results)
            {
                <tr>
                    <td>@result.data_year</td>
                    <td>@result.covered_agency_count</td>
                    <td>@result.total_population</td>
                </tr>
            }
        </table>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
