<!DOCTYPE html>
<html>
<head>
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
        </head>

<body>
  <h1 style="color:red;">Arrest crimde data</h1>
  <p>This table contains diffrent crime data over the years according to arrested offender gender and race. </p>

  <table style="width:100%; border: 1px solid black">
    <table>
        <tr><td>year</td><td>offense_name</td><td>agencies</td><td>population</td><td>total_male</td><td>total_female</td><td>white</td><td>black</td><td>asian_pacific_islander</td><td>american_indian</td></tr>
        <tr><td>2016</td><td>Arson</td><td>13310</td><td>264534532</td><td>4509</td><td>1426</td><td>4263</td><td>1373</td><td>103</td><td>183</td></tr>
        <tr><td>2015</td><td>Arson</td><td>13404</td><td>260792111</td><td>3908</td><td>1073</td><td>3601</td><td>1135</td><td>95</td><td>125</td></tr>
        <tr><td>2014</td><td>Arson</td><td>12854</td><td>255852212</td><td>3905</td><td>1147</td><td>3701</td><td>1124</td><td>77</td><td>120</td></tr>
        <tr><td>2013</td><td>Drug Abuse Violations</td><td>12397</td><td>257195726</td><td>949923</td><td>242344</td><td>818803</td><td>347201</td><td>13045</td><td>8262</td></tr>
        <tr><td>2012</td><td>Arson</td><td>12850</td><td>254953025</td><td>4662</td><td>1179</td><td>4303</td><td>1334</td><td>74</td><td>120</td></tr>
        <tr><td>2011</td><td>Burglary</td><td>12628</td><td>250795788</td><td>155368</td><td>30930</td><td>127480</td><td>55072</td><td>1596</td><td>1754</td></tr>
        <tr><td>2010</td><td>Drunkenness</td><td>12727</td><td>248792692</td><td>367974</td><td>76170</td><td>363483</td><td>67575</td><td>2843</td><td>8440</td></tr>
        <tr><td>2009</td><td>Disorderly Conduct</td><td>12923</td><td>247547472</td><td>296252</td><td>97116</td><td>258047</td><td>122312</td><td>3261</td><td>7528</td></tr>
        </table>
        
</body>
</html>
