@model Assignment_4_WebApplication.Models.Results
@{ 
    ViewData["Title"] = "Explore";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Data</title>
    <link rel="stylesheet" href="~/css/Explore.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

    <style>
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: red;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: red;
        }
    </style>

</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">Crime statistics in U.S.</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Explore">Explore Data</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="Report">Report an Incident</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="dropdown">
        <button class="dropbtn">Select data to explore</button>
        <div class="dropdown-content">
            <a asp-controller="Home" asp-action="HomicideData">Homicide data</a>
            <a asp-controller="Home" asp-action="ArrestData">Arrest data</a>
            <a asp-controller="Home" asp-action="PropertyData">Property data</a>
        </div>
    </div>


  
     <canvas id="myChart" width="50" height="10"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var xlabels = [];
        const dataset = [];


        //Model.results.forEach(Assignment_4_WebApplication.Models.Result)
        //{
        //    xlabels.push(Assignment_4_WebApplication.Models.Result.data_year);
        //    dataset.push(Assignment_4_WebApplication.Models.Result.total_population);
        //};

            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
               // labels: xlabels,
                labels: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
                   '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
                datasets: [{
                    label: 'Rate of all the criminal offenses by Population ',
                    data: [286335900, 289627938, 293182392, 295709600, 298656157, 301499406, 304523081,
                        306755209, 309324491, 312363383, 314164230, 317176318, 319689868, 321952676, 324735099, 327511036,
                        329242793, 335231625, 336536616, 337556149],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
             scales: {
                    y: {
                        beginAtZero: false
                    }
                 }
             }
            });
    </script>




    <b> Expanded Homicide Offense Counts in the United States, 2009 - 2019  </b>

    <div style="width:100%; height:700px; overflow:auto;">
        <table class="table">
            <tr>
                <th>Year </th>
                <th>Agency Count </th>
                <th>Total Population </th>
            </tr>

            @foreach (Assignment_4_WebApplication.Models.Result result in Model.results)
            {
        <tr>
            <td>@result.data_year</td>
            <td>@result.covered_agency_count</td>
            <td>@result.total_population</td>
        </tr>
            }
        </table>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
