html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans',sans-serif;
}
/*table1*/
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.table tr:nth-child(even){background-color: #f2f2f2;}
  
.table tr:hover {background-color: #ddd;}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(128, 0, 53);
    color: white;
  }
  .navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
#navbar__logo{
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  }
.navbar__container{
  display:flex;
  justify-content:space-between;
  height: 80px;
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 50px;
}
.fa-gem{	
margin-right:0.5rem;	
}
.navbar_links{
color: #fff;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;
width: 100%;
}
.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar__item{
  height: 80px;
}
.navbar__links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

  .button:hover {
    background-color: #555;
  }
  .navbar__links:hover{	
    color: #ff8177;	
    transition: all 0.3s ease;	
  }
  @media screen and (max-width:960px){	
    .navbar__container{	
        display: flex;	
        justify-content: space-between;	
        height: 80px;	
        z-index: 1;	
        width: 100%;	
        max-width: 1300px;	
        padding: 0;	
    }
  
    .navbar__menu{	
      display: grid;	
      grid-template-columns: auto;	
      margin: 0;	
      width: 100%;	
      position: absolute;	
      top: -1000px;	
      opacity: 0;	
      transition: all o.5s ease;	
      height: 50vh;	
      z-index: -1;	
      background: #131313;	
  }	
  .navbar__menu.active{	
      background: #131313;	
      top: 100%;	
      opacity: 1;	
      transition: all 0.5s ease;	
      z-index: 99;	
      height:50vh;	
      font-size: 1.6rem;	
  }
  #navbar__logo{	
    padding-left: 25px;	
  }	
  .navbar__toggle .bar{	
   width: 25px;	
   height: 3px;	
   margin: 5px auto;	
   transition: all 0.3s ease-in-out;	
   background: #fff;	
  }	
  .navbar__item{	
    width: 100%;	
  }	
  .navbar__links{	
    text-align: center;	
    padding: 2rem;	
    width: 100%;	
    display: table;	
  }	
  #mobile-menu{	
    position: absolute;	
    top: 20%;	
    right: 5%;	
    transform: translate(5%, 20%);	
  }	
  .navbar__btn{	
   padding-bottom: 2rem;	
  }	
  .button{	
   display: flex;	
   justify-content: center;	
   align-items: center;	
   width: 80%;	
   height: 80px;	
   margin: 0;	
  }	
  .navbar__toggle .bar{	
   display: block;	
   cursor: pointer;	
  }	
  
  #mobile-menu.is-active .bar:nth-child(2){	
   opacity: 0;	
  }	
  #mobile-menu.is-active .bar:nth-child(1){	
   transform: translateY(8px) rotate(45deg);	
  }	
  #mobile-menu.is-active .bar:nth-child(3){	
   transform: translateY(-8px) rotate(-45deg);	
  }	
  }
  
  .navbar__links:hover{
      color: #ff8177;
      transition: all 0.3s ease;
  }